---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?q=https://teamgaslight.com/blog/6-ways-to-remove-pain-from-feature-testing-in-ruby-on-rails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="47861bceba11c3672be9e1ac9e4ea6b0",
        oauth_signature="AN7d07ZjlBUwFRK%2FUlczShsmplQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1430847199", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 05 May 2015 17:33:19 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1673d5fb5e2aab5b571b908df88cd168
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1430847679'
      X-Response-Time:
      - '52'
      X-Transaction:
      - bcceabb6d61512a7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"und","result_type":"recent"},"created_at":"Mon
        May 04 19:24:05 +0000 2015","id":595307928938250240,"id_str":"595307928938250240","text":"https:\/\/t.co\/xVf42tzPQI
        via @teamgaslight","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":51511987,"id_str":"51511987","name":"Guilherme
        Matsumoto","screen_name":"g8M","location":"Florian\u00f3polis, Brazil","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":54,"friends_count":36,"listed_count":0,"created_at":"Sat
        Jun 27 18:23:11 +0000 2009","favourites_count":1,"utc_offset":-10800,"time_zone":"Brasilia","geo_enabled":false,"verified":false,"statuses_count":55,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"1A1B1F","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/534524426914500608\/0CV2QP2e_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/534524426914500608\/0CV2QP2e_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/51511987\/1416275558","profile_link_color":"2FC2EF","profile_sidebar_border_color":"181A1E","profile_sidebar_fill_color":"252429","profile_text_color":"666666","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"teamgaslight","name":"Gaslight","id":54681071,"id_str":"54681071","indices":[28,41]}],"urls":[{"url":"https:\/\/t.co\/xVf42tzPQI","expanded_url":"https:\/\/teamgaslight.com\/blog\/6-ways-to-remove-pain-from-feature-testing-in-ruby-on-rails","display_url":"teamgaslight.com\/blog\/6-ways-to\u2026","indices":[0,23]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"und"}],"search_metadata":{"completed_in":0.026,"max_id":595307928938250240,"max_id_str":"595307928938250240","query":"https%3A%2F%2Fteamgaslight.com%2Fblog%2F6-ways-to-remove-pain-from-feature-testing-in-ruby-on-rails","refresh_url":"?since_id=595307928938250240&q=https%3A%2F%2Fteamgaslight.com%2Fblog%2F6-ways-to-remove-pain-from-feature-testing-in-ruby-on-rails&include_entities=1","count":15,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Tue, 05 May 2015 17:33:20 GMT
recorded_with: VCR 2.9.3
