---
http_interactions:
- request:
    method: get
    uri: http://disqus.com/api/get_thread_by_url/?forum_api_key=<FILTERED>&url=http://diminishing.org/searching-for-a-hero-ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":{"allow_comments":true,"forum":"79677","title":"Searching
        fora HeroGood Examples","url":"http://diminishing.org/searching-for-a-hero-ruby","num_comments":4,"created_at":"2013-01-27T15:37:02","forum_obj":{"created_at":"2009-01-24
        21:36:26.853147","shortname":"diminishing","id":"79677","name":"diminishing
        blog"},"slug":"httpdiminishingorgsearching_for_a_hero_ruby","hidden":false,"identifier":null,"id":"1049620432"},"code":"ok","succeeded":true}'
  recorded_at: Thu, 25 Jul 2013 14:14:49 GMT
- request:
    method: get
    uri: http://disqus.com/api/get_num_posts/?forum_api_key=<FILTERED>&thread_ids=1049620432
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":{"1049620432":[5,4]},"code":"ok","succeeded":true}'
  recorded_at: Thu, 25 Jul 2013 14:14:49 GMT
recorded_with: VCR 2.5.0
